
@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data
@using _4Bike.Models.ViewModels
<!--model IEnumerable<OrderView>-->
@model IEnumerable<AddBikesViewModel>
@if(Model.Any()){
<div class="product">

 @foreach (var item in Model)
   {
       <a class="text-dark" onclick="location.href='@Url.Action("ChosenBike","Bike",new{bID = item.BikeID})'">
       <div class="row">
	
           <img src="/@item.PicPath" class="col-md-6" />
                         
                          
                          <div class="col-md-6">
                              <p>@item.BikeName</p>
                          <p>@item.ManufacturerName</p>
                          </div> 
                          </div>
                      
                         </a>
   }
   </div>
}