@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="row">

    @*<div class="col-md-8">
            <h4>Change your account settings</h4>
            <hr />
            <div class="row">
                <div class="col">
                    <partial name="_ManageNav" />
                </div>
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>*@
    <div class="col-12 col-md-8 col-lg-10">

    <div class="col-md-9 col-12">
       
    </div>
    
    <div class="col-md-3 col-12 bg-light text-center">

        <div class="text-center">
            <i class="fas fa-user-circle fa-9x text-secondary"></i>

            <p>Welcome, @UserManager.GetUserName(User)!</p>
        </div>


       @*<nav class="flex-column">
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="userViews()">Edit orders</button>
*@ 


        <h2>Manage your account</h2>

        @RenderBody()
    </div>

    <div class="col-12 col-md-4 col-lg-2"><partial name="/Views/Shared/SidebarPartial.cshtml" model="UserManager.GetUserName(User)" /></div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
