@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="row">

 

    <div class="col-12 col-md-8 col-lg-10">

        <h2>Manage your account</h2>

        @RenderBody()
    </div>

    <div class="col-12 col-md-4 col-lg-2"><partial name="/Views/Shared/SidebarPartial.cshtml" model="UserManager.GetUserName(User)" /></div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
