@using _4Bike.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create role";
}


<div class="row">
    <div class="col-12 col-md-8 col-lg-10">

        <h5>Create role</h5>

        <form asp-action="Create" method="post">
            <label>Name:</label>
            <input type="text" name="name" />
            <input type="submit" value="Create" />
        </form>

        <a asp-action="Index">Go back</a>
    </div>

    <div class="col-12 col-md-4 col-lg-2">
        <partial name="/Views/Shared/SidebarPartial.cshtml" model="UserManager.GetUserName(User)" />
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <partial name="/Views/Shared/SidebarPartial.cshtml" model="UserManager.GetUserName(User)" />
    </div>
</div>