
@using  _4Bike.Models.ViewModels
@model OrderView

<input type="search" name="userSertch"/>
<input type="date" name="oDate"/>

<button onclick="userSertch()">sertch</button>
 
<div id="orders">

    </div>
   

