
@using  _4Bike.Models.ViewModels
@model OrderView

<input type="search" name="userSertch" placeholder="Username/Email"/>
<input type="date" name="oDate"/>

<button class="btn my-2 my-sm-0 text-dark"  onclick="userSertch()"><i class="fas fa-search"></i></button>
 
<div id="orders">

    </div>
   

