<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _4Bike</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <style>
        .plr_10 {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
        }
    </style>
</head>
<body onload="userViews()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container-fluid">

                <a class="navbar-brand" style="font-family: Righteous; font-size: 50px; color: #808080 " asp-controller="Home" asp-action="Index">4Bike</a>
                <ul class="navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Index">Roles</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Bike" asp-action="ListBikes">List of Bikes</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Manufacturer" asp-action="Index">List Of Manufacturer</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="UserList">Manage users</a></li>
                    }
                   
                </ul>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form class="form-inline my-2 my-sm-0" autocomplete="off">
                        <div>
                        <input class="form-control mr-sm-2" onkeyup="serchProd()" name="seartch" type="search" placeholder="Search our products..." aria-label="Search" />
                        
                        <div id="serRes" class="productContainer"></div>
                    </div>
                        <button class="btn my-2 my-sm-0 text-dark" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - _4Bike - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/4Bscript.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
